body{
    font-family: 'Mulish', sans-serif;
}

header{
    height: 100%;
    background-image: url("dawn_of_the_planet_of_the_apes_2014_film-wallpaper-1366x768.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    text-align: justify;
}

h2{
    font-weight: 600;
}

h2,h3{
    font-family: algerian regular;
    padding-top: 20px;
    padding-bottom : 20px;
    text-align: center;
}


h2~p{
    padding:10 30 20 30;
    text-align: center;
}



article p{
    padding: 10 20px;
    
}


.about article img{
    height: 200px;
    width: 100%;
}

.testimonials p{
    font-style: italic;
}

.contact section,.contact p{
    text-align: center;
}

.contact form{
    margin-top: 40px;
}

main,footer{
    background-color: #040405cc;
    color: blanchedalmond;
}

footer{
    border-top: 5px dashed grey;
}

footer .copyright{
    margin-top: 20px;
}

footer .copyright p{
    text-align: center;
}